<!DOCTYPE html>
<html>
<body>
    <div class="bg-light p-3">
        <div class="bg-dark d-flex align-items-center justify-content-center fs-2 text-light fw-bolder">
            MFN
        </div>
        <div class="p-3 pb-2">
            <p>Dear {{userName}},</p>

            <p>You are trying to change the email address of your account</p>

            <p>Your new email will be: <b>{{newEmail}}</b>, please verify the email change:</p>
        </div>
		<div>
            <a class="btn btn-dark w-100" role="button" href={{link}}>Confirm email change</a>

            <p class="w-100 text-center fs-1 fw-bold p-2">{{passcode}}</p>
		</div>
        
        <p>In case this action is not caused by you, make sure that your account is in safe.</p>
        <p>The email change action can be discarded using link below:</p>
        <a class="btn btn-danger w-100" role="button" href={{link}}>Discard this action</a>
    </div>
</body>
</html>
